<form>
    <section class="sheet-body">
        <ol class="items-list">
            <li class="item flexrow items-header">
                <div>#</div>
                <div>Type</div>
                <div>Value</div>
            </li>
            {{#each req as |r key|}}
                <li class="item flexrow align-center">
                    <div>{{key}}</div>
                    <select name="req.{{key}}.type">
                        {{#select}}
                            {{#each ../data as |type k}}
                                <option value="{{type}}">{{k.label}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    <select name="req.{{key}}.subtype">
                        {{#select}}
                            {{#each ../data.[req.key.type] as |sub k|}}
                                <option value="{{sub}}">{{k.label}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    {{#if eq req.key.subtype 'feat'}}
                        <input hidden name="req.{{key}}.maxLevel" type="number" value="{{feat.maxLevel}}" />
                        {{#if (gt feat.maxLevel 1)}}
                            <input type="text" name="req{{key}}.input" value="{{feat.input}}" />
                        {{else}}
                            <div>-</div>
                        {{/if}}
                    {{else}}
                        <input type="text" name="req.{{key}}.input" value="{{req.input}}" />
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control item-delete" data-key="{{key}}" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>

    </section>
    <hr>
    <footer>
        <button type="submit" name="submit" value="1">
            <i class="far fa-save"></i> Submit
        </button>
    </footer>
</form>
