<form>
    <nav class="sheet-tabs tabs" data-group="primary-tabs">
        <a class="item" data-tab="abilities">Abilities</a>
        <a class="item" data-tab='skills'>Skills</a>
        <a class='item' data-tab='feats'>Features</a>
    </nav>
    <hr>
    <section class="sheet-body">
        <div class="tab" data-tab="abilities" data-group="primary-tabs">
            <ol class="items-list">
                <li class="item flexrow items-header">
                    <div>Name</div>
                    <div>Value</div>
                </li>
                {{#each abilities as |ability key|}}
                    {{log key}}
                    <li class="item flexrow">
                        <div>{{localize "ARd20.{{key}}"}}</div>
                        <input type="number" name="abilities.{{key}}" value="ability" />
                    </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>
