<form>
    <section>
        {{#each profs as |pr key|}}
            <div class='grid grid-3col'>
                <input class="ability" type="text" data-dtype="text" data-name='name' data-key="{{key}}" name='{{key}}.name' value="{{pr.name}}" />
                <select name="{{key}}.type" data-key='{{key}}' data-name='type'>
                    {{#select pr.type}}
                        {{#each ../config.WeaponType as |name sch|}}
                            <option value="{{sch}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                <button type="button" class="minus far fa-minus-square" data-key="{{key}}"></button>
            </div>
        {{/each}}
        <button type='button' class='add far fa-plus-square'></button>
    </section>
    <footer>
        <button type="submit" name="submit" value="1">
            <i class="far fa-save"></i> Submit
        </button>
    </footer>
</form>
