p.svelte-1s361pr {
    color: red;
    font-size: 18px
}

.tjs-glass-pane.svelte-71db55 {
    position: absolute;
    overflow: inherit
}

.window-title.svelte-3umz0z {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.window-app.svelte-are4no.svelte-are4no.svelte-are4no {
    overflow: inherit
}

.window-app.svelte-are4no .window-content.svelte-are4no > .svelte-are4no {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.tjs-app {
    max-height: 100%;
    background: url(/ui/denim075.png) repeat;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
    margin: 3px 0;
    padding: 0.5em;
    color: #f0f0e0;
    z-index: 95;
    overflow: inherit
}

.tjs-window-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: absolute;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
    padding: 0;
    z-index: 95
}

.tjs-window-app > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.tjs-window-app > .flex0 {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0
}

.tjs-window-app > .flex1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.tjs-window-app > .flex2 {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2
}

.tjs-window-app > .flex3 {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3
}

.tjs-window-app .window-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    overflow: hidden;
    padding: 0 8px;
    line-height: 30px;
    border-bottom: 1px solid #000
}

.tjs-window-app .window-header .window-title {
    margin: 0;
    word-break: break-all
}

.tjs-window-app .window-header a {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin: 0 0 0 8px
}

.tjs-window-app .window-header i[class^=fa] {
    margin-right: 3px
}

.tjs-window-app.minimized .window-header {
    border: 1px solid #000
}

.tjs-window-app .window-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background: none;
    padding: 8px;
    color: #191813;
    overflow-y: auto;
    overflow-x: hidden
}

.tjs-window-app.zhover {
    z-index: calc(var(--z-index-window) + 1)
}

.tjs-window-app .window-resizable-handle {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -1px;
    right: 0;
    background: #444;
    padding: 2px;
    border: 1px solid #111;
    border-radius: 4px 0 0 0
}

.tjs-window-app .window-resizable-handle i.fas {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

div.dialog-buttons.svelte-14xg9ru {
    padding-top: 8px
}

.main.svelte-18fqif2.svelte-18fqif2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%
}

.input-field.svelte-18fqif2.svelte-18fqif2 {
    width: inherit;
    height: 30px;
    border: 1px solid black;
    padding: 0 0.35rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%
}

.options.svelte-18fqif2.svelte-18fqif2 {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid black;
    border-top: none;
    background: url("../ui/parchment.jpg") repeat
}

.options.hidden.svelte-18fqif2.svelte-18fqif2 {
    display: none
}

label.svelte-18fqif2.svelte-18fqif2 {
    width: 100%;
    text-align: center
}

label.checked.svelte-18fqif2.svelte-18fqif2 {
    background-color: rgba(0, 255, 0, 0.3)
}

label.svelte-18fqif2.svelte-18fqif2:hover {
    cursor: pointer
}

label.svelte-18fqif2 input[type=checkbox].svelte-18fqif2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    border: none;
    display: none
}

i.svelte-87fh0g:active {
    -webkit-transform: translateY(0.1em);
    -ms-transform: translateY(0.1em);
    transform: translateY(0.1em)
}

i.disabled.svelte-87fh0g {
    color: red;
    pointer-events: none
}

.last.svelte-uscx8i {
    border-bottom: 1px solid black
}

.description.svelte-uscx8i {
    max-width: 1em
}

td.svelte-uscx8i {
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: var(--cellWidth);
    word-break: break-word
}

tr.svelte-uscx8i {
    border: 1px solid black;
    width: 100%;
    display: table
}

.description.svelte-1or51gx.svelte-1or51gx {
    height: 100%;
    padding-left: 2px;
    border-left: 1px solid black;
    border-bottom: 1px solid black
}

table.svelte-1or51gx thead.svelte-1or51gx {
    display: block;
    width: 100%;
    position: sticky;
    top: -0.05em
}

table.svelte-1or51gx.svelte-1or51gx {
    border-collapse: collapse
}

tbody.svelte-1or51gx.svelte-1or51gx {
    display: block;
    max-height: var(--tbodyHeight);
    width: 100%;
    overflow-y: auto
}

tr.svelte-1or51gx.svelte-1or51gx {
    border: 1px solid black;
    display: table
}

th.svelte-1or51gx.svelte-1or51gx {
    background: rgb(100, 100, 100);
    border: 1px solid black;
    border-width: 0px 1px 0 1px;
    text-align: center;
    padding: 0.2em;
    word-break: break-word
}

th.svelte-1or51gx.svelte-1or51gx:last-child {
    border-right: 0px
}

.box.svelte-qwcpmp.svelte-qwcpmp {
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 0 0 0.5rem 0.5rem;
    border-top: 0;
    height: min(75%, max(25%, var(--minBoxSize)));
    background: rgba(0, 0, 0, 0.08)
}

ul.svelte-qwcpmp.svelte-qwcpmp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid #dee2e6
}

li.svelte-qwcpmp.svelte-qwcpmp:active {
    margin-bottom: -0.1em;
    -webkit-transform: translateY(0.1em);
    -ms-transform: translateY(0.1em);
    transform: translateY(0.1em)
}

li.active.svelte-qwcpmp > span.svelte-qwcpmp {
    color: white;
    background-color: rgba(0, 0, 0, 0.08);
    border-color: #dee2e6 #dee2e6 #fff
}

span.svelte-qwcpmp.svelte-qwcpmp {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer
}

span.svelte-qwcpmp.svelte-qwcpmp:hover {
    border-color: #e9ecef #e9ecef #dee2e6
}

input.svelte-jvtels, span.svelte-jvtels {
    background-color: inherit;
    color: inherit
}

input.svelte-jvtels {
    font-size: inherit;
    border: 0 solid black;
    border-bottom: 1px solid black
}

.progress.svelte-1d3m8d2 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%
}

progress.svelte-1d3m8d2 {
    -webkit-appearance: none;
    height: 100%;
    width: 100%
}

progress.svelte-1d3m8d2::-webkit-progress-bar {
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(220, 220, 220);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset
}

progress.svelte-1d3m8d2::-webkit-progress-value {
    background-color: rgb(0, 0, 255);
    border-radius: 10px
}

progress.svelte-1d3m8d2::after {
    content: attr(data-label);
    position: absolute;
    width: 100%;
    top: var(--progressLabelTop);
    text-align: center;
    color: rgb(255, 255, 0);
    mix-blend-mode: difference
}

.box.svelte-1exjsfe.svelte-1exjsfe {
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 0 0 0.5rem 0.5rem;
    border-top: 0;
    background: rgba(0, 0, 0, 0.08)
}

ul.svelte-1exjsfe.svelte-1exjsfe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid #dee2e6
}

li.svelte-1exjsfe.svelte-1exjsfe:active {
    margin-bottom: -0.1em;
    -webkit-transform: translateY(0.1em);
    -ms-transform: translateY(0.1em);
    transform: translateY(0.1em)
}

li.active.svelte-1exjsfe > span.svelte-1exjsfe {
    color: white;
    background-color: rgba(0, 0, 0, 0.08);
    border-color: #dee2e6 #dee2e6 #fff
}

span.svelte-1exjsfe.svelte-1exjsfe {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer
}

span.svelte-1exjsfe.svelte-1exjsfe:hover {
    border-color: #e9ecef #e9ecef #dee2e6
}

.skills.svelte-1rodq98.svelte-1rodq98 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px
}

.skills.svelte-1rodq98 > div.svelte-1rodq98 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid black;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(16.6666666667% - 1.2em);
    flex: 1 0 calc(16.6666666667% - 1.2em);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0.6em;
    border-radius: 10px
}

.skills.svelte-1rodq98 > div.svelte-1rodq98:hover {
    text-shadow: red 0px 0px 0.5em;
    cursor: pointer
}

label.svelte-1rodq98.svelte-1rodq98 {
    text-align: center;
    border: 1px solid black;
    width: 100%;
    display: inline-block
}

i.svelte-1mjd618:hover {
    cursor: pointer;
    text-shadow: 0px 0px 10px blue
}

tr.svelte-1ug8i0n.svelte-1ug8i0n.svelte-1ug8i0n {
    position: relative;
    -webkit-transition: height 0.7s;
    -o-transition: height 0.7s;
    transition: height 0.7s
}

tr.svelte-1ug8i0n.svelte-1ug8i0n.svelte-1ug8i0n:nth-of-type(odd) {
    background-color: transparent
}

tr.svelte-1ug8i0n.svelte-1ug8i0n.svelte-1ug8i0n:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.2)
}

td.svelte-1ug8i0n.svelte-1ug8i0n.svelte-1ug8i0n {
    vertical-align: top;
    text-align: center
}

td.config.svelte-1ug8i0n.svelte-1ug8i0n.svelte-1ug8i0n {
    width: 5%
}

td.svelte-1ug8i0n:not(.config) > i.svelte-1ug8i0n.svelte-1ug8i0n:hover {
    cursor: pointer;
    text-shadow: 0 0 10px red
}

td.name.svelte-1ug8i0n.svelte-1ug8i0n.svelte-1ug8i0n {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

div.actions.svelte-1ug8i0n.svelte-1ug8i0n.svelte-1ug8i0n {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

div.description.svelte-1ug8i0n.svelte-1ug8i0n.svelte-1ug8i0n {
    width: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-top: none;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s
}

div.actions.svelte-1ug8i0n.svelte-1ug8i0n.svelte-1ug8i0n {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

div.actions.svelte-1ug8i0n .action.svelte-1ug8i0n.svelte-1ug8i0n {
    margin: 0.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

div.actions.svelte-1ug8i0n .action span.svelte-1ug8i0n.svelte-1ug8i0n {
    margin: 0.1rem;
    padding: 0.1rem;
    border: 1px solid;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.1)
}

div.actions.svelte-1ug8i0n .action span.svelte-1ug8i0n.svelte-1ug8i0n:hover, div.actions.svelte-1ug8i0n .action span.svelte-1ug8i0n + i.svelte-1ug8i0n:hover {
    -webkit-box-shadow: 1px 1px black;
    box-shadow: 1px 1px black;
    cursor: pointer
}

header.svelte-rm2f2e.svelte-rm2f2e.svelte-rm2f2e.svelte-rm2f2e {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid black;
    max-height: 155px
}

header.svelte-rm2f2e .main-info.svelte-rm2f2e.svelte-rm2f2e.svelte-rm2f2e {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

header.svelte-rm2f2e .main-info.svelte-rm2f2e > .svelte-rm2f2e.svelte-rm2f2e:not(.attributes) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

header.svelte-rm2f2e .main-info.svelte-rm2f2e > .attributes.svelte-rm2f2e.svelte-rm2f2e {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px
}

header.svelte-rm2f2e .main-info.svelte-rm2f2e > .attributes.svelte-rm2f2e > div.svelte-rm2f2e {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid black;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(16.6666666667% - 1.2em);
    flex: 1 0 calc(16.6666666667% - 1.2em);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0.6em;
    border-radius: 10px
}

header.svelte-rm2f2e .main-info.svelte-rm2f2e > .attributes.svelte-rm2f2e > div.svelte-rm2f2e:hover {
    text-shadow: red 0px 0px 0.5em;
    cursor: pointer
}

.cha-img.svelte-rm2f2e.svelte-rm2f2e.svelte-rm2f2e.svelte-rm2f2e {
    max-width: 150px
}

header.svelte-1izel0t.svelte-1izel0t {
    max-height: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.main.svelte-1izel0t.svelte-1izel0t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.main.svelte-1izel0t > div.svelte-1izel0t {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}

.main.svelte-1izel0t > div.attributes.svelte-1izel0t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

header.svelte-13wj1ft.svelte-13wj1ft {
    max-height: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.action.svelte-13wj1ft.svelte-13wj1ft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.action.svelte-13wj1ft .svelte-13wj1ft {
    margin: 0 0.1rem
}

i.svelte-13wj1ft.svelte-13wj1ft:hover {
    -webkit-filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.3));
    cursor: pointer
}

button.submit.svelte-1tfoq8h {
    -ms-flex-preferred-size: fit-content;
    flex-basis: fit-content
}

input.transparent.svelte-1bqd4zz.svelte-1bqd4zz {
    color: transparent;
    caret-color: black
}

input.transparent.svelte-1bqd4zz.svelte-1bqd4zz::-moz-selection {
    background: grey
}

input.transparent.svelte-1bqd4zz.svelte-1bqd4zz::selection {
    background: grey
}

input.transparent.svelte-1bqd4zz::-moz-selection + div.span.svelte-1bqd4zz {
    font-weight: bold;
    color: white
}

input.transparent.svelte-1bqd4zz::selection + div.span.svelte-1bqd4zz {
    font-weight: bold;
    color: white
}

div.span.svelte-1bqd4zz.svelte-1bqd4zz {
    position: absolute;
    pointer-events: none
}

button.svelte-11ce50k.svelte-11ce50k {
    max-height: 2em
}

.box.svelte-11ce50k.svelte-11ce50k {
    background-color: #c9c7b8;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #dee2e6;
    border-radius: 0 0 0.5rem 0.5rem;
    border-top: 0
}

ul.svelte-11ce50k.svelte-11ce50k {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid #dee2e6;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    max-height: 3em
}

li.svelte-11ce50k.svelte-11ce50k {
    margin-bottom: -0.5em
}

span.svelte-11ce50k.svelte-11ce50k {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer
}

span.svelte-11ce50k.svelte-11ce50k:hover {
    border-color: #b5b3a4 #b5b3a4 #dee2e6;
    background-color: #c9c7b8
}

li.active.svelte-11ce50k > span.svelte-11ce50k {
    color: rgb(0, 0, 0);
    background-color: #c9c7b8;
    border-left: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: #dee2e6 #dee2e6 #c9c7b8
}

.target.svelte-15is89 div.svelte-15is89 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

img.svelte-15is89.svelte-15is89 {
    width: 35%
}

td.svelte-15is89.svelte-15is89, th.svelte-15is89.svelte-15is89 {
    text-align: center
}