<form>
    <header>
        <div {{#unless isReady}} class="grid grid-2col" {{/unless}}>
            <div>
                <div>
                    <label for="xp.get">XP you earn</label>
                    <input type="number" class="max-dig-8" value="{{xp.get}}" name="xp.get" readonly />
                </div>
                <div>
                    <label for="xp.used">XP you spent</label>
                    <input type="number" class="max-dig-8" value="{{xp.used}}" name="xp.used" readonly />
                </div>
            </div>
            {{#unless isReady}}
                <aside>
                    <div>Attributes {{#if allow.ability}}<i class=" check fas fa-check"></i>{{else}}<i class="check fas fa-times"></i>{{/if}}</div>
                    <div>Race {{#if allow.race}}<i class="check fas fa-check"></i>{{else}}<i class="check fas fa-times"></i>{{/if}}</div>
                    <div>Final {{#if allow.final}}<i class="check fas fa-check"></i>{{else}}<i class="check fas fa-times"></i>{{/if}}</div>
                </aside>
            {{/unless}}
        </div>
    </header>
    <hr>
    <nav class="sheet-tabs tabs" data-group="primary-tabs">
        <a data-tab="stats">Stats</a>
        {{#unless isReady}}
            <a data-tab="race">Race</a>
        {{/unless}}
        <a data-tab="skills">Skills</a>
        <a data-tab="profs">proficiencies</a>
        <a data-tab="feats">Features</a>
    </nav>
    <hr>

    <section class="sheet-body">
        <div class="tab" data-tab="stats" data-group="primary-tabs">
            <table class="center">
                <tr>
                    <th>Name</th>
                    <th>Decrease</th>
                    <th>Value</th>
                    <th>Modifier</th>
                    <th>Increase</th>
                    <th>XP cost</th>
                    <th class="description">Description</th>
                </tr>
                {{#each abilities as |ability key|}}
                    <tr>
                        <td><label for="abilities.{{key}}.value" data-label="{{ability.label}}">{{ability.label}}</label></td>
                        <td><button class="change far fa-arrow-alt-circle-down" data-type="ability" type="button" {{#if ability.isEq}} disabled {{/if}} data-action="minus" data-key="{{key}}"></button></td>
                        <td><input readonly type="number" class="max-dig-2" value={{ability.value}} name="abilities.{{key}}.value" /></td>
                        <td><span name="abilities.{{key}}.mod">{{numberFormat ability.mod decimals=0 sign=true}}</span></td>
                        <td><button class="change far fa-arrow-alt-circle-up" data-type="ability" type="button" data-action="plus" data-key="{{key}}" {{#if ability.isXP}} disabled{{/if}}></button></td>
                        <td><span name="abilities.{{key}}.xp">{{numberFormat ability.xp decimals=0 sign=false}}</span></td>
                        {{#if (eq key "str")}}
                            <td rowspan="0" class="description"> ability description</td>
                        {{/if}}
                    </tr>
                {{/each}}
            </table>
        </div>
        <div class="tab" data-tab="race" data-group="primary-tabs">
            <table class="center">
                <tr>
                    <th>Choose</th>
                    <th>Race</th>
                    <th>Staring HP</th>
                    <th class="description">Race description</th>
                </tr>
                {{#each races.list as |race key|}}
                    <tr data-key="{{key}}">
                        <td><input name="race.chosen" type="radio" data-key="{{key}}" data-type="race" value="{{race._id}}" id="{{race._id}}" {{checked race.chosen}} /></td>
                        <td>{{race.name}}</td>
                        <td>{{race.data.startHP}}</td>
                        {{#if (eq key 0)}}
                            <td rowspan="0">{{{@root.hover.race}}}</td>
                        {{/if}}
                    </tr>
                {{/each}}
            </table>
        </div>
        <div class="tab" data-tab="skills" data-group="primary-tabs">
            <table class="center">
                <tr>
                    <th>Name</th>
                    <th>Decrease rank</th>
                    <th>Rank</th>
                    <th>Increase rank</th>
                    <th>XP cost</th>
                    <th class="description">Description</th>
                </tr>
                {{#each skills as |skill key|}}
                    <tr data-key="{{key}}">
                        <td><label for="skills.{{key}}.prof" class="skill" data-type="skill" data-label="{{skill.label}}">{{skill.label}}</label></td>
                        <td><button class="change far fa-arrow-alt-circle-down" data-type="skill" type="button" {{#if skill.isEq}}disabled{{/if}} data-action="minus" data-key="{{key}}"></button></td>
                        <input hidden name="skills.{{key}}.prof" value={{skill.prof}} type="number" />
                        <td><label for="skills.{{key}}.prof" data-label="{{skill.hover}}">{{skill.hover}}</label></td>
                        <td><button class="change far fa-arrow-alt-circle-up" data-type="skill" type="button" {{#if skill.isXP}}disabled{{/if}} data-action="plus" data-key="{{key}}"></button></td>
                        <td>{{#if skill.xp}}<span name="skills.{{key}}.xp">{{numberFormat skill.xp decimals=0 sign=false}}</span>{{/if}}</td>
                        {{#if (eq key "acr")}}
                            <td rowspan="0">{{{@root.hover.skill}}}</td>
                        {{/if}}
                    </tr>
                {{/each}}
            </table>
        </div>
        <div class="tab" data-tab="profs" data-group="primary-tabs">
            <div>
                <div>
                    {{#each profs.weapon as |prof key|}}
                        <div class="flexrow grid grid-7col">
                            <label for="profs.weapon.{{key}}.value" class="prof" data-type="prof" data-label="{{prof.name}}">{{prof.name}}</label>
                            <label for="profs.weapon.{{key}}.value" class="prof" data-type="prof" data-label="{{prof.type}}">{{prof.type_hover}}</label>
                            <button class="change far fa-arrow-alt-circle-down" data-type="prof" type="button" {{#if prof.isEq}}disabled{{/if}} data-action="minus" data-key="{{key}}"></button>
                            <input hidden name="profs.weapon.{{key}}.value" value="{{prof.value}}" type="number" />
                            <label for="profs.weapon.{{key}}.value" data-label="{{prof.hover}}">{{prof.value_hover}}</label>
                            <button class="change far fa-arrow-alt-circle-up" data-type="prof" type="button" {{#if prof.isXP}}disabled{{/if}} data-action="plus" data-key="{{key}}"></button>
                            {{#if prof.xp}}<span class="ability" name="profs.weapon.{{key}}.xp">{{numberFormat prof.xp decimals=0 sign=false}}</span>{{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="tab" data-tab="feats" data-group="primary-tabs">
            <table class="center">
                <tr>
                    <th>Name</th>
                    <th>Source</th>
                    <th>Decrease level</th>
                    <th>Current Level</th>
                    <th>Maximum Level</th>
                    <th>Increase level</th>
                    <th>XP cost</th>
                    <th class="description">Description</th>
                </tr>
                {{#each feats.awail as |feat key|}}
                    <tr data-key="{{key}}">
                        <td>{{feat.name}}</td>
                        <td>{{feat.data.source.label}}</td>
                        <td><button class="change fas fa-minus-square" data-type="feat" type="button" {{#if feat.isEq}}disabled{{/if}} data-action="minus" data-key="{{key}}"></button></td>
                        <input hidden name="feats.awail.{{key}}.id" value="{{feat._id}}" type="text" />
                        <td><input readonly type="number" value="{{feat.data.level.initial}}" name="feats.awail.{{key}}.data.level.initial" /></td>
                        <td><input readonly type="number" value="{{feat.data.level.max}}" name="feats.awail.{{key}}.data.level.max" /></td>
                        <td><button class="change fas fa-plus-square" data-type="feat" type="button" {{#if feat.isXP}}disabled{{/if}} data-action="plus" data-key="{{key}}"></button></td>
                        <td>{{#if (lt feat.data.level.initial feat.data.level.max)}}<span name="feats.{{key}}.data.level.xp.{{feat.data.level.initial}}">{{numberFormat feat.data.current_xp decimals=0 sign=false}}</span>{{/if}}</td>
                        {{#if (eq key 0)}}
                            <td rowspan="0">{{{@root.hover.feat}}}</td>
                        {{/if}}
                    </tr>
                {{/each}}
            </table>
        </div>
    </section>
    <hr>
    <footer>
        <button type="submit" name="submit" value="1">
            <i class="far fa-save"></i> Submit
        </button>
    </footer>
</form>
