<form>
    <header>
        <div>
            <label class='resource-label flexlarge align-left' for='xp.get'>XP you earn</label>
            <input type='number' class='ability' value={{xp.get}} name='xp.get' readonly />
        </div>
        <div>
            <label class='resource-label flexlarge align-left' for='xp.used'>XP you spent</label>
            <input type='number' class='ability' value={{xp.used}} name='xp.used' readonly />
        </div>
    </header>
    <hr>
    <nav class="sheet-tabs tabs" data-group="primary-tabs">
        <a class="item" data-tab="stats">Stats</a>
        <a class="item" data-tab='skills'>Skills</a>
        <a class='item' data-tab="profs">proficiencies</a>
        <a class='item' data-tab='feats'>Features</a>
    </nav>
    <hr>

    <section class="sheet-body">
        <div class="tab" data-tab="stats" data-group="primary-tabs">
            <ol class='items-list'>
                <li class="item flexrow items-header">
                    <div>Name</div>
                    <div>Decrease</div>
                    <div>Value</div>
                    <div>Modifier</div>
                    <div>Increase</div>
                    <div>XP cost</div>
                </li>
                {{#each abilities as |ability key|}}
                    <li class="item flexrow align-center">
                        <div><label for="abilities.{{key}}.value" data-label="{{ability.label}}">{{ability.label}}</label></div>
                        <div><button class="change far fa-arrow-alt-circle-down" data-type='ability' type='button' {{#if ability.isEq}} disabled {{/if}} data-action='minus' data-key='{{key}}'></button></div>
                        <div><input readonly type='number' class="ability align-center" value={{ability.value}} name='abilities.{{key}}.value' /></div>
                        <div><span name='abilities.{{key}}.mod'>{{numberFormat ability.mod decimals=0 sign=true}}</span></div>
                        <div><button class="change far fa-arrow-alt-circle-up" data-type='ability' type='button' data-action='plus' data-key='{{key}}' {{#if ability.isXP}} disabled{{/if}}></button></div>
                        <div><span name='abilities.{{key}}.xp'>{{numberFormat ability.xp decimals=0 sign=false}}</span></div>
                    </li>
                {{/each}}
        </div>
        </ol>
        </div>
        <div class='tab' data-tab='skills' data-group='primary-tabs'>
            <div class="grid grid-2col">
                <div class='ability flexcoll flex-group-center align-center'>
                    {{#each skills as |skill key|}}
                        <div class='ability flexrow grid grid-5col'>
                            <label for='skills.{{key}}.prof' class="resource-label skill flexlarge align-left" data-type='skill' data-label="{{skill.label}}">{{skill.label}}</label>
                            <button class='change far fa-arrow-alt-circle-down' data-type="skill" type="button" {{#if skill.isEq}}disabled{{/if}} data-action='minus' data-key="{{key}}"></button>
                            <input hidden name='skills.{{key}}.prof' value={{skill.prof}} type="number" />
                            <label for='skills.{{key}}.prof' class="resource-label flexlarge align-left" data-label="{{skill.hover}}">{{skill.hover}}</label>
                            <button class='change far fa-arrow-alt-circle-up' data-type="skill" type="button" {{#if skill.isXP}}disabled{{/if}} data-action='plus' data-key="{{key}}"></button>
                            {{#if skill.xp}}<span class='ability' name='skills.{{key}}.xp'>{{numberFormat skill.xp decimals=0 sign=false}}</span>{{/if}}
                        </div>
                    {{/each}}
                </div>
                <aside class='verticalLine'>{{{hover.value}}}</aside>
            </div>
        </div>
        <div class='tab' data-tab='profs' data-group='primary-tabs'>
            <div>
                <div class="ability flexcoll-group-center align-center">
                    {{#each profs.weapon as |prof key|}}
                        <div class="ability flexrow grid grid-7col">
                            <label for='profs.weapon.{{key}}.value' class="resource-label prof flexlarge align-center" data-type='prof' data-label="{{prof.name}}">{{prof.name}}</label>
                            <label for='profs.weapon.{{key}}.value' class="resource-label prof flexlarge align-center" data-type='prof' data-label="{{prof.type}}">{{prof.type_hover}}</label>
                            <button class='change far fa-arrow-alt-circle-down' data-type="prof" type="button" {{#if prof.isEq}}disabled{{/if}} data-action='minus' data-key="{{key}}"></button>
                            <input hidden name='profs.weapon.{{key}}.value' value={{prof.value}} type="number" />
                            <label for='profs.weapon.{{key}}.value' class="resource-label flexlarge align-center" data-label="{{prof.hover}}">{{prof.value_hover}}</label>
                            <button class='change far fa-arrow-alt-circle-up' data-type="prof" type="button" {{#if prof.isXP}}disabled{{/if}} data-action='plus' data-key="{{key}}"></button>
                            {{#if prof.xp}}<span class='ability' name='profs.weapon.{{key}}.xp'>{{numberFormat prof.xp decimals=0 sign=false}}</span>{{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class='tab' data-tab='feats' data-group='primary-tabs'>
            <div class='grid grid-2col'>
                <div class="ability flexcoll-group-center align-center">
                    {{#each feats.awail as |feat key|}}
                        <div class="ability flexrow grid grid-6col" style="grid-template-columns:2fr repeat(5,minmax(0,1fr))">
                            <label class="resource-label feat flexlarge align-center" data-type='feat' data-label="{{feat.data.name}}">{{feat.name}}</label>
                            <label class="resource-label feat flexlarge align-center" data-type='feat' data-label="{{feat.data.source.label}}">{{feat.data.source.label}}</label>
                            <button class='change fas fa-minus-square' data-type="feat" type="button" {{#if feat.isEq}}disabled{{/if}} data-action='minus' data-key="{{key}}"></button>
                            <input hidden name='feats.awail.{{key}}.id' value='{{feat.id}}' type="text" />
                            <div class='flexrow'>
                                <input readonly type="number" value="{{feat.data.level.initial}}" name='feats.awail.{{key}}.data.level.initial' />/
                                <input readonly type="number" value="{{feat.data.level.max}}" name="feats.awail.{{key}}.data.level.max">
                            </div>
                            <button class='change fas fa-plus-square' data-type="feat" type="button" {{#if feat.isXP}}disabled{{/if}} data-action='plus' data-key="{{key}}"></button>
                            {{#if (lt feat.data.level.initial feat.data.level.max)}}<span class='ability' name='feats.{{key}}.data.level.xp'>{{numberFormat feat.data.level.xp decimals=0 sign=false}}</span>{{/if}}
                        </div>
                    {{/each}}
                </div>
                <aside class='verticalLine'>blank for feature description</aside>
            </div>
        </div>
        </div>
    </section>
    <hr>
    <footer>
        <button type="submit" name="submit" value="1">
            <i class="far fa-save"></i> Submit
        </button>
    </footer>
</form>
