<form>
  <nav class="sheet-tabs tabs" data-group="primary-tabs">
    <a class="item" data-tab="stats">Stats</a>
  </nav>
  <hr>

  <section class="sheet-body">
    <div class="tab" data-tab="stats" data-group="primary-tabs">
      <div class="ability flexcoll flex-group-center">
        {{#each advanced.abilities as |ability key|}}
          <div class="ability flexrow">
            <label for="advanced.abilities.{{key}}.value" class="resource-label  flexlarge align-left" data-label="{{ability.label}}">{{ability.label}}</label>
            <button class="change" {{#if ability.isEq}} disabled {{/if}} data-action='minus' data-key='{{key}}'>-</button>
            <input type="number" value="{{ability.value}}" class="ability" />
            <span class="ability-mod " data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            <button class="change" data-action='plus' data-key='{{key}}'>+</button>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
  <button class='change' data-action="submit" name="submit" value="1">
    <i class="far fa-save"></i> Submit
</button>
</form>
