<form>
    <header>
        <div>
            <label class='resource-label flexlarge align-left' for='xp.get'>Полученый опыт</label>
            <span class='ability' name='xp.get'>{{numberFormat xp.get}}</span>
        </div>
        <div>
            <label class='resource-label flexlarge align-left' for='xp.used'>Использованный опыт</label>
            <span class='ability' name='xp.used'>{{numberFormat xp.get}}</span>
        </div>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary-tabs">
        <a class="item" data-tab="stats">Stats</a>
    </nav>
    <hr>

    <section class="sheet-body">
        <div class="tab" data-tab="stats" data-group="primary-tabs">
            <div class="ability flexcoll flex-group-center">
                {{#each abilities as |ability key|}}
                    <div class="ability flexrow">
                        <label for="abilities.{{key}}.value" class="resource-label  flexlarge align-left" data-label="{{ability.label}}">{{ability.label}}</label>
                        <button class="change" type='button' {{#if ability.isEq}} disabled {{/if}} data-action='minus' data-key='{{key}}'>-</button>
                        <span class="ability" name='abilities.{{key}}.value'>{{numberFormat ability.value decimals=0 sign=false}}</span>
                        <span class="ability-mod" name='abilities.{{key}}.mod'>{{numberFormat ability.mod decimals=0 sign=true}}</span>
                        <button class="change" type='button' data-action='plus' data-key='{{key}}' {{#unless ability.isXP}} disabled{{/if}}>+</button>
                        <span class='ability' name='abilities.{{key}}.xp'>{{numberFormat ability.value decimals=0 sign=false}}</span>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
    <footer>
        <button type="submit" name="submit" value="1">
            <i class="far fa-save"></i> Submit
        </button>
    </footer>
</form>
