// Grid.
.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}
@for $i from 3 through 20 {
  .grid-#{$i}col {
    grid-column: span $i / span $i;
    grid-template-columns: repeat($i, minmax(0, 1fr));
  }
}
// Grid offset.
@for $i from 2 through 20 {
  .grid-start-#{$i} {
    grid-column-start: $i;
  }
}
@for $i from 2 through 20 {
  .grid-span-#{$i} {
    grid-column-end: span $i;
  }
}
table {
  tr:hover > td:not(.description) {
    border-top-color: 1px solid red;
    border-bottom-color: 1px solid red;
    &:first-child {
      border-left-color: 1px solid red;
    }
    &:last-child {
      border-right-color: 1px solid red;
    }
  }
  &.center {
    text-align: center;
  }
  th.description {
    border-left: 1px solid black;
    width: 50%;
  }
  td {
    /*&:last-child:not(.description){
      border-left-style: hidden;
    }*/
    &.description {
      text-align: start;
      border-left: 2px solid black;
    }
  }
}
