<div class="ard20 chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}} {{#if isSpell}}data-spell-level="{{item.data.level}}" {{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{data.description.value}}}
        {{#if data.materials.value}}
            <p><strong>{{ localize "ARd20.RequiredMaterials" }}.</strong> {{data.materials.value}}</p>
        {{/if}}
        {{#if hasAttack}}
            {{log atk}}
            <ol class="flexcol items-list attack-target"">
                <li class="flexrow items-header">
                    <div class="flex2">Target:</div>
                    <div>{{localize "ARd20.Attack"}}:</div>
                    <div>{{localize "ARd20.Damage"}}</div>
                </li>
                <li>
                    {{#each targets as |target|}}
                <li class="flexrow" data-targetID="{{target.uuid}}">
                    <div class="chat-portrait item item-prop">
                        <img src="{{target.data.img}}" title="{{target.name}}" />
                    </div>
                    <div class="item item-prop">{{target.name}}</div>
                    <div class="attack-roll item item-prop">
                        <div id="value">
                            {{lookup @root.atk target.uuid}} vs {{lookup @root.dc target.uuid}}: {{lookup @root.result target.uuid}}
                        </div>
                        <div class="hover-roll">
                            {{{lookup @root.atkHTML target.uuid}}}
                        </div>
                    </div>
                    <div class="damage-roll card-buttons item item-prop">
                        <button data-action="damage">{{localize "ARd20.Damage"}}</button>
                    </div>
                </li>
                {{/each}}
                </li>
            </ol>
        {{/if}}
    </div>
    <footer class="card-footer">
        {{#each data.properties}}
            <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
