@import "../utils/colors";
/*@keyframes fade_in_show {
  0% {
    opacity: 0;
    max-height: 0%;
  }

  100% {
    max-height: 100%;
    opacity: 1;
  }
}*/
.ard20.chat-card {
  font-style: normal;
  font-size: 12px;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #fff;
    border-bottom: 2px groove #fff;

    img {
      flex: 0 0 36px;
      margin-right: 5px;
    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;
      color: $c-olive;
      &:hover {
        color: #111;
        text-shadow: 0 0 10px red;
      }
    }
  }

  .card-content {
    margin: 5px 0;

    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }

    > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }
  .attack-target {
    justify-content: space-evenly;
    text-align: center;
    
    .chat-portrait {
      flex-basis: auto;
      flex-grow: 0;
      img {
        width: 36px;
        height: 36px;
      }
    }
    .attack-roll {
      #value {
        &:hover {
          color: #111;
          text-shadow: 0 0 10px red;

          + .hover-roll,
          + .hover-roll .dice-tooltip {
            max-height: 500px;
            transition: max-height 0.25s ease-in;

            .dice-total {
              display: none;
            }
          }
        }
        + .hover-roll:hover,
        + .hover-roll:hover .dice-tooltip {
          max-height: 500px;
          transition: max-height 0.25s ease-in;

          .dice-total {
            display: none;
          }
        }
      }
    }
    .hover-roll,
    .dice-tooltip {
      max-height: 0;
      transition: max-height 0.15s ease-out;
      overflow: hidden;
      display: inherit;

      .dice-total {
        display: none;
      }
    }
  }

  .card-buttons {

    span {
      display: block;
      line-height: 28px;
      text-align: center;
      border: 1px solid;
    }

    button {
      font-size: 12px;
      height: 24px;
      line-height: 20px;
      margin: 2px 0;
    }
  }

  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #fff;

    span {
      border-right: 2px groove #fff;
      padding: 0 3px 0 0;
      font-size: 10px;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}

.dice-roll .dice-total {
  &.success {
    color: inherit;
    background: #c7d0c0;
    border: 1px solid #006c00;
  }
  &.failure {
    color: inherit;
    background: #ffdddd;
    border: 1px solid #6e0000;
  }
  &.critical {
    color: green;
  }
  &.fumble {
    color: red;
  }
}
