<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    {{#if isGM}}
      <a class="item" data-tab="attributes">Attributes</a>
      <a class="item" data-tab="effects">Effects</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    {{#if isGM}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        <label for="data.source.value">
          Source
          <select multiple data-dtype="JSON" type="select-multiple" class="feature select2" name="data.source.value">
            {{selectOptions config.source selected=data.source.value localize=true}}
          </select>
        </label>

        <div>
          has level
          <input type="checkbox" name="data.level.has" {{checked data.level.has}} />
          {{#if data.level.has}} level
            <input type="number" name="data.level.current" value="{{data.level.current}}" min="0" max="{{data.level.max}}" />
            /
            <input type="number" name="data.level.max" value="{{data.level.max}}" />
          {{/if}}
        </div>
        <div>
          base Cost
          <input type="text" name="data.xp.0" value="{{data.xp.[0]}}" data-dtype="Number" />
        </div>
        <div>
          <button type="button" class="config-button" data-action="feat-req">Requierements</button>
        </div>
      </div>
      {{!-- Active Effects Tab --}}
      <div class="tab effects flexcol" data-group="primary" data-tab="effects">{{> "systems/ard20/templates/actor/parts/actor-effects.html"}}</div>
    {{/if}}
</form>
